---
---

#nav-container {
  padding-top:    15px;
  padding-bottom: 15px;
}

h1.title {
  font-size: 5rem;
}

.divider {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

ul#post-list {
  padding-bottom: 10px;
  li {
    code {
      color: inherit;
      background-color: inherit;
    }
    a {
      padding: 2px 4px;
    }
  }
}

blockquote {
  font-style: italic;
}
