<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygments.css">
  </head>
  <body>
    <div class="container">
      <header class="row site-header text-center">
        <div class="col-md-6 col-md-offset-3">
          <h1>Brent Walther's Blog</h1>
          <ul class="list-inline">
            {% for page in site.data.menu_items %}
              <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
              </li>
            {% endfor %}
          </ul>
        <div>
      </header>
      <section class="row content-wrapper">
        <div class="col-md-6 col-md-offset-3 divider">
          {{ content }}
        </div>
      </section>
    </div>
  </body>
<html>
